<h1 class = "top_tarobook">Tarobookの世界へようこそ！</h1>


<p class = "top_heading">思い出を共有して、世界とつながろう！</p>
<button type="button" class="btn btn-primary btn-lg" id ="top_button"><%= link_to 'Dive into tarobook', blogs_path %></button>