// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog_ists,.comfirm_page,.show_page,.edit_page,.new_post{
    text-align: center;
    margin: auto; 
    margin-top: 0px;
}
.index_memory{ 
    padding-top: 0;
}

