// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_page {
    text-align: center; 
    font-size: 60px;
    position: relative;
    padding: 0.25em 0;
}
.user_page:after {
    content: "";
    display: block;
    height: 4px;
    background: -moz-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
    background: -webkit-linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
    background: linear-gradient(to right, rgb(255, 186, 115), #ffb2b2);
}
.user_email {
    text-align: center; 
    font-size: 40px;
    color  : #00BFFF;
    font-family: 'Permanent Marker', cursive;
}
.signup_page{
    text-align: center;
    margin: auto; 
    margin-top: 0px;
}